@font-face {
    font-family: 'Arial-rounded';
    src: url('/fonts/Arial-rounded.ttf');
}

* {
    font-family: 'Arial-rounded';
}

.clients-data-container {
    width: 90em;
    display: flex;
    letter-spacing: 1.5px;
}

.clients-data-columns {
    list-style: none;
    display: flex;
    padding: 0;
    margin-bottom: 12px;
    justify-content: space-between;
    color: var(--gula-red);
    font-weight: bolder;
    font-size: 1.15rem;
}

.clients-data-columns li{
    width: 90px;
    border-bottom: 3px solid rgba(237, 28, 35, 0.166);
}

.clients-data-columns li:nth-child(2) {
    padding-left: 83px;
}

.clients-data-columns li:nth-child(3) {
    padding-left: 78px;
}

.clients-data-columns li:nth-child(4) {
    padding-left: 45px;
}

.clients-data-columns li:nth-child(5) {
    padding-left: 93px;
    width: 210px;
}

.clients-data-columns li:nth-child(6) {
    padding-left: 60px;
    width: 76px;
}