.data-clients-container {
    display: flex;
    width: 80em;
    justify-content: center;
}

.data-clients-container tbody{
    width: 80%;
    gap: 15px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

.data-clients-container tbody tr {
    display: flex;
    padding-bottom: 4px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.16);
    align-items: center;
}

.data-clients-container tbody tr td {
    width: 90px;    
}

.data-clients-container tbody tr td:nth-child(2) {
    margin-left: 63px;
}

.data-clients-container tbody tr td:nth-child(3) {
    margin-left: 55px;
}

.data-clients-container tbody tr td:nth-child(4) {
    margin-left: 20px;
}

.data-clients-container tbody tr td:nth-child(5) {
    margin-left: 68px;
}

.data-clients-container tbody tr td:nth-child(6) {
    width: 190px;
    display: flex;
    justify-content: end;
    margin-left: 45px;
}

.data-clients-container tbody tr td:nth-child(7) {
    margin-left: 80px;
    width: 15px;
}

.data-clients-container tbody tr td:nth-child(8) {
    margin-left: 2px;
    width: 15px;
}

.user-icons {
    width: 1.15em;
    height: 1.15em;
    color: var(--gula-red);
    cursor: pointer;
}

