

.data-clients-container {
    display: flex;
    width: 90em;
    justify-content: center;
}

.data-clients-container tbody{
    width: 70em;
    height: 65vh;
    gap: 10px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.data-clients-container tbody tr {
    display: flex;
    padding-bottom: 1px;
    align-items: center;
}

.data-clients-container tbody tr td {
    width: 90px;    
}

.data-clients-container tbody tr td:nth-child(2) {
    margin-left: 83px;
}

.data-clients-container tbody tr td:nth-child(3) {
    margin-left: 78px;
}

.data-clients-container tbody tr td:nth-child(4) {
    margin-left: 42px;
}

.data-clients-container tbody tr td:nth-child(5) {
    margin-left: 90px;
}

.data-clients-container tbody tr td:nth-child(6) {
    width: 190px;
    display: flex;
    justify-content: end;
    margin-left: 65px;
}

.data-clients-container tbody tr td:nth-child(7) {
    margin-left: 53px;
    width: 15px;
}

.data-clients-container tbody tr td:nth-child(8) {
    margin-left: 4px;
    width: 15px;
}

.user-icons {
    width: 1.15em;
    height: 1.15em;
    color: var(--gula-red);
    cursor: pointer;
}

.data-clients-container img {
    width: 70em;
}

.fix-img-error {
    margin-top: -60px;
}