:root {
    --gula-red: rgb(237 28 36);
}

* {
    font-family: 'Arial-rounded';
}

body {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-container {
    width: 90em;
    height: 6em;
    background-color: var(--gula-red);
    border-radius: 3px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}

.header-container ul {
    display: flex;
    list-style: none;
    gap: 40px;
}

.header-container ul li {
    padding: 8px;
    display: flex;
    align-items: center;
    color: white;
    font-size: .95rem;
    cursor: pointer;
}

img {
    margin-left: 15px;
}

img:first-child {
    width: 6em;
    position: absolute;
    left: 50px;
}

.user-profile {
    border-radius: 50%;
    width: 3.6em;
}

.user-container {
    display: flex;    
    align-items: center;
    margin-right: 1em;
    position: absolute;
    right: 0;
    height: 75%;
    padding-left: 20px;
    border-left: 2px solid rgba(255, 168, 171, 0.457);
}

.user {
    font-size: 14px;
    color: white;
    font-weight: 600;
}
